@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h2 style="background-image:linear-gradient(to right,red,blue);-webkit-background-clip:text;-webkit-text-fill-color:transparent;">The current server time is <br /> @DateTime.Now.ToString("hh:mm:ss:tt")</h2>
</div>
