<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ResourceId>/subscriptions/52512b4c-c94e-45b8-948d-32ef0012a1fd/resourcegroups/ServerTime20230113213350ResourceGroup/providers/Microsoft.Web/sites/ServerTime20230113213350</ResourceId>
    <ResourceGroup>ServerTime20230113213350ResourceGroup</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://servertime20230113213350.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>b0c8d735-de27-4674-967d-313f101346e3</ProjectGuid>
    <PublishUrl>https://servertime20230113213350.scm.azurewebsites.net/</PublishUrl>
    <UserName>$ServerTime20230113213350</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>